name: waka-readme

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-readme:
    name: waka-readme devmetrics
    runs-on: ubuntu-latest
    steps:
      - name: Get current timestamp
        id: timestamp
        run: echo "time=$(date -u +'%Y-%m-%d %H:%M UTC')" >> $GITHUB_OUTPUT
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          COMMIT_MESSAGE: "chore: latest devmetrics (${{ steps.timestamp.outputs.time }})"
          COMMITTER_NAME: "Kurtis Massey"
          COMMITTER_EMAIL: ${{ vars.GIT_EMAIL }}
          SHOW_TOTAL: true
          TIME_RANGE: all_time
          SHOW_TITLE: true